<div class="content-wrapper">
  {{#if leftSidebarEnabled}}
    <aside class="sidebar left {{leftClasses}}" style={{leftStyle}}>
      {{#if canHideLeftSidebar}}
        {{d-button
          class="toggle-sidebar left"
          action="toggleSidebar"
          actionParam="left"
          icon=toggleLeftSidebarIcon}}
      {{/if}}
      
      {{sidebar-container
        side="left"
        topic=model
        customSidebarProps=customSidebarProps
        category=category
        filter=filter
        context=mainContent}}
      
      {{plugin-outlet
        name="sidebar-left-bottom"
        args=(hash
          customSidebarProps=customSidebarProps
          category=category
          isResponsive=isResponsive
          path=path)}}
    </aside>
  {{/if}}
  
  <div class="main-content {{mainClasses}}" style={{mainStyle}}>
    {{outlet 'main-content'}}
  </div>
  
  {{#if rightSidebarEnabled}}
    <aside class="sidebar right {{rightClasses}}" style={{rightStyle}}>
      {{#if canHideRightSidebar}}
        {{d-button
          class="toggle-sidebar right"
          action="toggleSidebar"
          actionParam="right"
          icon=toggleRightSidebarIcon}}
      {{/if}}
      
      {{sidebar-container
        side="right"
        topic=model
        customSidebarProps=customSidebarProps
        category=category
        filter=filter
        context=mainContent}}
      
      {{plugin-outlet
        name="sidebar-right-bottom"
        args=(hash 
          customSidebarProps=customSidebarProps
          category=category
          isResponsive=isResponsive
          path=path)}}
    </aside>
  {{/if}}
  
  {{#if showResponsiveMenu}}
    <div class="layouts-responsive-menu">
      {{#each responsiveMenuItems as |item|}}
        {{#d-button
          class=item.class
          action=item.action
          actionParam=item.actionParam
        }}
          {{item.icon}}
        {{/d-button}}
      {{/each}}
    </div>
    <div class="sidebar-cloak"></div>
  {{/if}}
</div>