<div class="content-wrapper">
  {{#if leftSidebarEnabled}}
    <aside class="sidebar left" style={{leftStyle}}>
      {{#sidebar-container side="left" topic=model customProps=customProps category=category filter=filter context=mainContent editing=editing_left}}
        {{#if showUserControls}}
          <div class="sidebar-user-controls left">
            <div class='user-control'>
              <a class="edit-sidebars" {{action 'editSidebars' 'left'}}>{{i18n editLeftText}}</a>
            </div>
            <div class="user-control">
              <a class="add-to-sidebars" {{action 'addToSidebars' 'left'}}>{{i18n 'layout.add'}}</a>
            </div>
          </div>
        {{/if}}
        {{#if showLeftToggle}}
          {{d-button class='mobile-toggle left' action='toggleSidebar' actionParam='left' icon='chevron-right'}}
        {{/if}}
      {{/sidebar-container}}
    </aside>{{/if}}<div class="main-content {{mainClasses}}" style={{mainStyle}}>
    {{partial mainContent}}
  </div>{{#if rightSidebarEnabled}}<aside class="sidebar right" style={{rightStyle}}>
      {{#sidebar-container side="right" topic=model customProps=customProps category=category filter=filter context=mainContent editing=editing_right}}
        {{#if showUserControls}}
          <div class="sidebar-user-controls right">
            <div class='user-control'>
              <a class="edit-sidebars" {{action 'editSidebars' 'right'}}>{{i18n editRightText}}</a>
            </div>
            <div class="user-control">
              <a class="add-to-sidebars" {{action 'addToSidebars' 'right'}}>{{i18n 'layout.add'}}</a>
            </div>
          </div>
        {{/if}}
        {{#if showRightToggle}}
          {{d-button class='mobile-toggle right' action='toggleSidebar' actionParam='right' icon='chevron-left'}}
        {{/if}}
      {{/sidebar-container}}
    </aside>
  {{/if}}
</div>

{{#if showCategoryEditBtn}}
  {{d-button class="btn-default edit-category backup" action="editCategory" actionParam=category icon="wrench"}}
{{/if}}

{{#if showCategoryAdmin}}
  {{categories-admin-dropdown create=(action "createCategory") reorder=(action "reorderCategories")}}
{{/if}}
