<div class="content-wrapper">
  {{#if leftSidebarEnabled}}
    <aside class="sidebar" style={{leftStyle}}>
      {{#sidebar-container side="left" topic=model category=sidebarCategory filter=filter context=mainContent editing=editing_left}}
        {{#if showUserControls}}
          <div class="sidebar-user-controls left">
            <div class='user-control'>
              <a class="edit-sidebars" {{action 'editSidebars' 'left'}}>{{i18n edit_left_text}}</a>
            </div>
          </div>
        {{/if}}
      {{/sidebar-container}}
    </aside>
  {{/if}}

  <div class="main-content {{mainClasses}}" style={{mainStyle}}>
    {{partial mainContent}}
  </div>

  {{#if rightSidebarEnabled}}
    <aside class="sidebar" style={{rightStyle}}>
      {{#sidebar-container side="right" topic=model category=sidebarCategory filter=filter context=mainContent editing=editing_right}}
        {{#if showUserControls}}
          <div class="sidebar-user-controls right">
            <div class='user-control'>
              <a class="edit-sidebars" {{action 'editSidebars' 'right'}}>{{i18n edit_right_text}}</a>
            </div>
          </div>
        {{/if}}
      {{/sidebar-container}}
    </aside>
  {{/if}}
</div>

{{#if showCategoryEditBtn}}
  {{d-button class="btn-default edit-category backup" action="editCategory" actionParam=category icon="wrench"}}
{{/if}}

{{#if navigationCategories.canCreateCategory}}
  {{categories-admin-dropdown}}
{{/if}}
