<div class="content-wrapper">
  {{#if leftSidebarEnabled}}
    <aside class="sidebar" style="width: {{siteSettings.sidebar_left_width}}px">
      {{sidebar-container side="left" topic=model category=category filter=filter context=mainContent}}
    </aside>
  {{/if}}

  <div class="main-content {{mainClasses}}" style="{{mainStyle}}">
    {{partial mainContent}}
  </div>

  {{#if rightSidebarEnabled}}
    <aside class="sidebar" style="width: {{siteSettings.sidebar_right_width}}px">
      {{sidebar-container side="right" topic=model category=category filter=filter context=mainContent}}
    </aside>
  {{/if}}
</div>
