<td>
  {{widget.name}}
</td>

<td>
  <a href="{{sourceUrl}}">
    {{sourceName}}
  </a>
</td>

<td>
  {{combo-box
    content=positionList
    value=widget.position
    onChange=(action "updatePosition")
    options=(hash
      none='admin.layouts.widgets.position.select'
    )}}
</td>

<td>
  {{combo-box
    content=orderList
    value=widget.order
    onChange=(action "updateOrder")
    options=(hash
      none='admin.layouts.widgets.order.select'
    )}}
</td>

<td>
  {{multi-select
    content=groupList
    value=widget.groups
    onChange=(action "updateGroups")
    options=(hash
      none='admin.layouts.widgets.groups.select'
      allowAny=false
    )}}
</td>

<td>
  {{input
    type="checkbox"
    checked=widget.enabled
    click=(action "updateEnabled" value="target.checked")}}
</td>

<td class="controls">
  {{#if saving}}
    {{loading-spinner size="small"}}
  {{else}}
    {{d-button
      action="save"
      class='btn btn-primary'
      label='admin.layouts.widgets.save'
      disabled=saveDisabled}}
  {{/if}}
</td>
