<div class="top">
  <div class="details">
    <div class="control-group nickname">
      <div class="controls">
        {{#if widget.editing}}
          {{input type="text" value=widget.nickname}}
        {{else}}
          {{widget.nickname}}
        {{/if}}
      </div>
    </div>

    {{d-button
      icon="puzzle-piece"
      class="btn-small"
      translatedLabel=widget.displayName
      translatedTitle=widget.displayName
      href=widget.themeUrl}}
  </div>

  <div class="controls">
    {{conditional-loading-spinner size="small" condition=loading}}

    <div class="enabled">
      {{input
        type="checkbox"
        checked=widget.enabled
        click=(action "updateEnabled" value="target.checked")}}
      <span>{{i18n 'admin.layouts.widgets.enabled'}}</span>
    </div>

    {{d-button
      action=(action "edit")
      label="admin.layouts.widgets.edit"
      icon="pencil-alt"}}

    {{d-button
      action=(action "save")
      class="btn btn-primary"
      label="admin.layouts.widgets.save"
      icon="save"
      disabled=saveDisabled}}

    {{d-button
      action=(action "remove")
      class="btn"
      label="admin.layouts.widgets.remove"
      icon="times"}}
  </div>
</div>

{{#if widget.editing}}
  <div class="bottom">
    <div class="position-attributes">
      <div class="control-group position">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.position.label'}}
        </label>
        <div class="controls">
          {{combo-box
            content=positionList
            value=widget.position
            onChange=(action "updatePosition")
            options=(hash
              none='admin.layouts.widgets.select'
            )}}
        </div>
      </div>

      <div class="control-group order">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.widget_order.label'}}
        </label>
        <div class="controls">
          {{combo-box
            content=orderList
            value=widget.widget_order
            onChange=(action "updateOrder")
            options=(hash
              none='admin.layouts.widgets.select'
            )}}
        </div>
      </div>
    </div>

    <div class="filter-attributes">
      <div class="control-group contexts">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.context.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=contextList
            value=widget.contexts
            onChange=(action "updateContexts")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>

      <div class="control-group filters">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.filter.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=filterList
            value=widget.filters
            onChange=(action "updateFilters")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>
    </div>

    <div class="taxonomy-attributes">
      <div class="control-group groups">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.group.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=groupList
            value=widget.group_ids
            onChange=(action "updateGroups")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>

      <div class="control-group categories">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.category.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=categoryList
            value=widget.category_ids
            onChange=(action "updateCategoryIds")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>

      <div class="control-group excluded-categories">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.excluded_category.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=categoryList
            value=widget.excluded_category_ids
            onChange=(action "updateExcludedCategoryIds")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>
    </div>
  </div>

  {{#if widgetSettings}}
    <div class="settings">
      {{#each widgetSettings as |setting|}}
        {{widget-setting setting=setting widget=widget dirty=dirty setDirty=(action "setDirty")}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}
