<td class="name">
  {{#if widget.isNew}}
    {{combo-box
      value=widget.name
      content=widgetList
      options=(hash
        none='admin.layouts.widgets.select_widget'
        allowAny=true
      )}}
  {{else}}
    <span>{{widgetDisplayName}}</span>
  {{/if}}
</td>

<td class="position">
  {{combo-box
    content=positionList
    value=widget.position
    onChange=(action "updatePosition")
    options=(hash
      none='admin.layouts.widgets.select'
    )}}
</td>

<td class="order">
  {{combo-box
    content=orderList
    value=widget.order
    onChange=(action "updateOrder")
    options=(hash
      none='admin.layouts.widgets.select'
    )}}
</td>

<td class="groups">
  {{multi-select
    content=groupList
    value=widget.groups
    onChange=(action "updateGroups")
    options=(hash
      none='admin.layouts.widgets.select'
      allowAny=false
    )}}
</td>

<td class="enabled">
  {{input
    type="checkbox"
    checked=widget.enabled
    click=(action "updateEnabled" value="target.checked")}}
</td>

<td class="controls">
  {{#if saving}}
    {{loading-spinner size="small"}}
  {{else}}
    {{d-button
      action="save"
      class="btn btn-primary"
      label="admin.layouts.widgets.save"
      icon="save"
      disabled=saveDisabled}}
      
    {{d-button
      action="remove"
      class="btn"
      label="admin.layouts.widgets.remove"
      icon="times"}}
  {{/if}}
</td>
