<td class="name">
  {{#if widget.isNew}}
    {{input value=widget.name placeholder=(i18n 'admin.layouts.widgets.name')}}
  {{else}}
    <span>{{widget.name}}</span>
  {{/if}}
</td>

<td>
  {{combo-box
    content=positionList
    value=widget.position
    onChange=(action "updatePosition")
    options=(hash
      none='admin.layouts.widgets.select'
    )}}
</td>

<td>
  {{combo-box
    content=orderList
    value=widget.order
    onChange=(action "updateOrder")
    options=(hash
      none='admin.layouts.widgets.select'
    )}}
</td>

<td>
  {{multi-select
    content=groupList
    value=widget.groups
    onChange=(action "updateGroups")
    options=(hash
      none='admin.layouts.widgets.select'
      allowAny=false
    )}}
</td>

<td>
  {{input
    type="checkbox"
    checked=widget.enabled
    click=(action "updateEnabled" value="target.checked")}}
</td>

<td class="controls">
  {{#if saving}}
    {{loading-spinner size="small"}}
  {{else}}
    {{d-button
      action="save"
      class="btn btn-small btn-primary"
      label="admin.layouts.widgets.save"
      icon="save"
      disabled=saveDisabled}}
      
    {{d-button
      action="remove"
      class="btn btn-small"
      label="admin.layouts.widgets.remove"
      icon="times"}}
  {{/if}}
</td>
