<div class="top">
  <div class="details">
    <div class="nickname">
      {{#if widget.editing}}
        {{input
          type="text"
          value=widget.nickname
          placeholder=(i18n "admin.layouts.widgets.nickname")}}
      {{else}}
        <h3>{{widget.nickname}}</h3>
      {{/if}}
    </div>

    {{#if widget.component}}
      {{d-button
        icon=widgetComponentIcon
        translatedLabel=widget.component.name
        translatedTitle=widget.component.name
        class=widgetComponentClass
        href=widget.componentUrl}}
    {{else}}
      {{combo-box
        value=widget.theme_id
        content=installedComponents
        onChange=(action "updateThemeId")
        options=(hash
          none='admin.layouts.widgets.select_component'
          allowAny=true
        )}}
    {{/if}}
  </div>

  <div class="controls">
    <div class="enabled">
      {{d-button
        action=(action "updateEnabled")
        class=enabledButtonClass
        icon=enabledButtonIcon
        title=enabledButtonTitle
        label=enabledButtonLabel
        disabled=enableDisabled}}
    </div>

    <div class="buttons">
      {{conditional-loading-spinner
        size="small"
        condition=loading}}
      {{d-button
        action=(action "edit")
        label="admin.layouts.widgets.edit"
        icon="pencil-alt"
        class=editClass
        disabled=editDisabled}}
      {{d-button
        action=(action "remove")
        class="btn"
        label="admin.layouts.widgets.remove"
        icon="times"}}
      {{d-button
        action=(action "save")
        class="btn btn-primary"
        label="admin.layouts.widgets.save"
        icon="save"
        disabled=saveDisabled}}
    </div>
  </div>
</div>

{{#if widget.editing}}
  <div class="bottom">
    <div class="position-attributes">
      <div class="control-group position">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.position.label'}}
        </label>
        <div class="controls">
          {{combo-box
            content=positionList
            value=widget.position
            onChange=(action "updatePosition")
            options=(hash
              none='admin.layouts.widgets.select'
            )}}
        </div>
      </div>

      <div class="control-group order">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.widget_order.label'}}
        </label>
        <div class="controls">
          {{combo-box
            content=orderList
            value=widget.widget_order
            onChange=(action "updateOrder")
            options=(hash
              none='admin.layouts.widgets.select'
            )}}
        </div>
      </div>
    </div>

    <div class="filter-attributes">
      <div class="control-group contexts">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.context.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=contextList
            value=widget.contexts
            onChange=(action "updateContexts")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>

      <div class="control-group filters">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.filter.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=filterList
            value=widget.filters
            onChange=(action "updateFilters")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>
    </div>

    <div class="taxonomy-attributes">
      <div class="control-group groups">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.group.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=groupList
            value=widget.group_ids
            onChange=(action "updateGroups")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>

      <div class="control-group categories">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.category.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=categoryList
            value=widget.category_ids
            onChange=(action "updateCategoryIds")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>

      <div class="control-group excluded-categories">
        <label class="control-label">
          {{i18n 'admin.layouts.widgets.excluded_category.label'}}
        </label>
        <div class="controls">
          {{multi-select
            content=categoryList
            value=widget.excluded_category_ids
            onChange=(action "updateExcludedCategoryIds")
            options=(hash
              none='admin.layouts.widgets.select'
              allowAny=false
            )}}
        </div>
      </div>
    </div>
  </div>

  {{#if widgetSettings}}
    <div class="settings">
      {{#each widgetSettings as |setting|}}
        {{widget-setting
          setting=setting
          widget=widget
          dirty=dirty
          setDirty=(action "setDirty")}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}
