<td class="col value first medium-label">
  {{widget.name}}
</td>
<td class="col value medium-label position">
  {{combo-box content=positionOptions value=widget.position none='admin.layouts.widgets.position_none'}}
</td>
<td class="col value medium-label">
  {{combo-box content=orderOptions value=widget.order none='admin.layouts.widgets.order_none'}}
</td>
<td class="col value medium-label controls">
  {{#if saving}}
    {{loading-spinner size="small"}}
  {{else}}
    {{d-button action='save' class='btn btn-primary' label='admin.layouts.widgets.save'}}
  {{/if}}
  {{d-button action='clear' icon='times'}}
</td>
