<div {{action "expand"}} class='selected-nav-item nav-item' aria-label={{i18n 'filters.nav_drop'}} aria-expanded={{expanded}}>
  {{navigation-item content=selectedNavItem filterMode=filterMode linkDisabled=true}}
</div>
{{#if navItems}}
  <a href {{action "expand"}} class='nav-dropdown-btn nav-item'>
    {{d-icon iconClass}}
  </a>
  <section class="{{unless expanded 'hidden'}} nav-dropdown-menu chooser">
    {{#if renderNavItems}}
      {{#each navItems as |navItem|}}
        {{navigation-item content=navItem filterMode=filterMode}}
      {{/each}}
    {{/if}}
  </section>
{{/if}}
