<div class="admin-layouts-widget-title">
  <h2>{{i18n "admin.layouts.widgets.title"}}</h2>
  {{d-button
    action=(action "addWidget")
    label="admin.layouts.widgets.add_widget"
    icon="plus"
    disabled=addWidgetDisabled}}
</div>

<div class="admin-layouts-widget-list">
  {{#if widgets}}
    {{#each widgets as |widget|}}
      {{admin-layouts-widget
        widget=widget
        widgets=widgets
        components=components
        removeWidget=(action 'removeWidget')
        updateWidget=(action 'updateWidget')}}
    {{/each}}
  {{else}}
    {{#unless loading}}
      <div>{{i18n "admin.layouts.widgets.none"}}</div>
    {{/unless}}
  {{/if}}
</div>
